<div class="about">


<div class="mbox"

<h3> A platform to connect and reach out for some of the best opportunities to have the time of your life.

 </h3>

 

</div>

<div class="story">







<h4> If the text above doesn't make sense to you or you simply have questions/feedback/suggestions or whatever, feel free to drop me a line :) - <%= mail_to "emils.veveris@thrillengine.com", "emils.veveris@thrillengine.com" %> </h4>  






</div>


</div>